



html {
font-size: 16px;
line-height: 1.5;
font-fami: "helvetica Neue", helvetica, arial, sans-serif;
color: #111;
padding: 24px 24px 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #e85e00;
    color:white;
    text-shadow: none;
}

img{
    border-style: groove;
    border-width: 20px;
    border-color: green;
    max-width: 100%;
    vertical-align: top;
}
/*
    Elements: typography
    ---
    Default markup for typographic elements
*/




a:hover,
a:focus {

}

a:visited,
a:active {

}

h1{
    font-family: "Times New Roman", serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 48px;
}

h2{
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

h2{
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
}

h4,
h5,
h6{
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure,
blockquote,
hr{
    margin: 0 0 24px;
}

figcaption{
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    color: grey;
}
blockquote{
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    font-family: "New Times Roman", serif;
}
blockquote *{
    font-size: inherit;
    line-height: inherit;
}

}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol{
    margin-bottom: 0;
}
hr {
    border: 0;
    height: 1px;
    background: LightGrey;
}
a {
    color: RoyalBlue;
    transition: all .1s ease-in-out;
}

a:visited,
a:active{
    color: BlueViolet;
}

a:hover,
a:active{
    color: crimson;
}
