



html {
font-size: 16px;
line-height: 1.5;
font-fami: "helvetica Neue", helvetica, arial, sans-serif;
color: #111;
padding: 24px 24px 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #e85e00;
    color:white;
    text-shadow: none;
}

::selection {
    background: #e85e00;
    color:white;
    text-shadow: none;
}

img{
    border-style: groove;
    border-width: 20px;
    border-color: green;
    max-width: 100%;
    vertical-align: top;
}
